html {
  font-family: "Source Hans Pro",'Microsoft Yahei';
}
img {
  max-width: 100%;
}
.site-name {
  position: absolute;
  right: 10%;
  top: 20%;
  background: none;
  text-align: right;
  color: #FFF;
}
.post-btn {
  background: transparent;
  border-radius: 3px;
  border: 1px solid #FFF;
  padding: 6px 20px;
  &:hover,&:active,&:focus {
    background: none !important;
    border-color: #FFF !important;
  }
}
.post-btn.btn-lg {
  padding: 12px 40px;
}
.post-category {
  background: none;
  border: none;
  a:hover {
    color: #444 !important;
  }
  li {
    margin: 0 4px;
  }
  .active {
    a {
      background: none !important;
    }
    border-bottom: 2px solid #444;
  }
}
.category-dropdown {
  float: right;
  .dropdown-menu {
    right: 16px;
    left: auto;
  }
}
.category-btn {
  border-color: #444;
  .icon-bar {
    background-color: #444;
  }
}

.post-title {
  margin-top: 8px;
  a {
    display: block;
    cursor: pointer;
    margin: 24px 12px;
    padding: 10px;
    color: #444;
    border: 1px solid transparent;
    h2 {
      margin: 0;
      font-weight: lighter;
    }
    &:hover {
      text-decoration: none;
      border-color: #C3D5E4;
      background: #fafafd;
    }
    .date {
      margin: 8px 0 0 0;
      text-align: right;
      color: #828282;
    }
  }
}

#analytics {
  margin: 12px auto;
  text-align: right;
  a {
    color: #444 !important;
    &:hover {
      text-decoration: none;
    }
  }
}
.page-nav {
  border: none;
  background: none;
}
@media screen and (max-width:768px) {
  .site-name {
    top: 5%;
  }
}

@media screen and (max-width:480px) {
  .site-name {
    margin: 0;
    padding: 0;
  }
}
