---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/monokai-sublime.css">
  {% seo %}
</head>
<body style="background-color: rgb(255, 255, 255)">
 <script src="{{site.baseurl}}/js/theme.min.js"></script>
  <script src="{{site.baseurl}}/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <header>
      <a href="{{site.baseurl}}/"><div class="home"></div></a>
  </header>
<h1 class="post-headline">测试Post功能</h1>
<div class="meta"><span>February 16, 2017</span></div>
<h2 id="-page-_-">终于把这个Page搞出来了好开心\^_^/</h2>
<pre><code class = "c">#include "stdin.h"
using namespace std;
int main(){
    print("hello world!");
}
</code></pre>
<p><img src="http://pic.baike.soso.com/p/20140317/20140317173046-2137283813.jpg" alt="say"></p>
<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="10001" data-title="Ariticle" data-url="https://ssssssay.github.io/sssSSSay.github.io/2017/02/16/Arti-cl-e1.html"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"ssssssay"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->

<footer>
    <div class="links">
        <a href="{{site.baseurl}}/about/">About</a>
        <a href="{{site.baseurl}}/contact/">Contact</a>
    </div>
    <div class="theme" onclick="theme()" style="    background-image: url({{site.baseurl}}/images/theme.svg)"></div>
</footer>
{% include analytics.html %}
</body>
</html>
