<!DOCTYPE html>
<html>

  {% include head.html %}

  <body style="overflow: hidden;">
    <div class="slider" id="slider">
      <img data-slidr="one" src="/css/cover-1.jpg">
      <img data-slidr="two" src="/css/cover-2.jpg">
      <img data-slidr="three" src="/css/cover-3.jpg">
    </div>
    <div class="cover"></div>
    <div class="clock">
      <div class='hours'></div>
      <div class='seconds'></div>
      <div class='minutes'></div>
    </div>
    <div class="site-name">
      <div class="site-name__inner">
        <div class="name">{{ site.title }}</div>
        <div class="desc">{{site.description}}</div>
        <div class="btn">文章</div>
      </div>
    </div>
    <div class="container">
      <header class="site-header">
        <div class="wrapper">
          <nav class="post-categories">
            {% for category in site.categories %}
              <a class="category-link" onclick="changeCategory('{{ category | first }}',this);" href="javascript:void(0);">{{ category | first }}</a>
            {% endfor %}
          </nav>
          <nav class="site-nav">
              {% for page in site.pages %}
                {% if page.title %}
                <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                {% endif %}
              {% endfor %}
          </nav>
        </div>
      </header>
      <div class="page-content">
          <div class="home">
            <ul id="content" class="post-list"></ul>
          </div>
      </div>
      {% include analytics.html %}
    </div>
    <div class="loading">
      <div class="square-spin"><div></div></div>
    </div>
<script src="/js/slidr.min.js"></script>
<script>
  setInterval(function() {
    var seconds = new Date().getSeconds();
    var sdegree = seconds * 6 + 270;
    seconds = ("0" + seconds).slice(-2);
    var secondSel = document.querySelector(".seconds");

    secondSel.style.transform = "rotate(" + sdegree + "deg) translate(160px) rotate(-" + sdegree + "deg)";
    secondSel.innerHTML = seconds;

    var minutes = new Date().getMinutes();
    var mdegree = minutes * 6 + 270;
    var minutesSel = document.querySelector(".minutes");
    minutes = ("0" + minutes).slice(-2);

    minutesSel.style.transform = "rotate(" + mdegree + "deg) translate(181px) rotate(-" + mdegree + "deg)";
    minutesSel.innerHTML =  minutes;

    var hours = new Date().getHours();
    var hoursSel = document.querySelector(".hours");

    hours = ("0" + hours).slice(-2);

    hoursSel.innerHTML = hours;
  }, 1000);

  var btnSel = document.querySelector('.btn');
  var header = document.getElementsByTagName('header')[0];

  btnSel.addEventListener("click", function() {
    header.scrollIntoView();
  }, false);

  // 文章分类

  function $ (query) {
    return ele = document.querySelectorAll(query);
  }
  var dataStr = '{ {% for cat in site.categories %}{% if cat[0] != site.categories.first[0] %},{% endif %}"{{ cat[0] }}":[{% for post in cat[1] %}{% if post != cat[1].first %},{% endif %}{"url":"{{post.url}}", "title":"{{post.title}}", "date":"{{post.date | date:"%b %-d, %Y"}}"}{% endfor %}]{% endfor %} }',
      data = JSON.parse(dataStr);

  function changeCategory (name, ele) {
    if (typeof data[name] !== 'undefined') {
      var tpl = '';
      for (var i = 0; i < data[name].length; i++) {
        tpl += '<li><a class="post-link" href="' + data[name][i].url + '">'+
            data[name][i].title +
                '<div class="post-meta">' + data[name][i].date + '</div>'+
            '</a>'+
            '</li>';
      }
      $('#content')[0].innerHTML = tpl;
      var active = $('.category-link.active');
      if (active.length > 0) {
        active[0].className = 'category-link';
      }
      ele.className += ' active';
    }
  }
  var first = $('.category-link')[0];
  changeCategory(first.innerHTML,first);

  slidr.create('slider', {
    breadcrumbs: true,
    controls: 'none',
    overflow: true
  }).add('h', ['one', 'two', 'three', 'one'],'fade').auto(5000);
  var loadingTime = 0;
  var timer = setInterval(function () {
    var height = parseInt($('#slider')[0].style.height);
    if (height > 0) {
      $('.cover')[0].style.height = height + 10 + 'px';
      if (loadingTime > 500) {
        clearInterval(timer);
        var loading = $('.loading')[0];
        document.body.style.overflow = 'auto';
        loading.style.opacity = 0;
        setTimeout(function () {
          loading.parentNode.removeChild(loading);
        }, 500);
      }
    }
    loadingTime += 10;
  },10);
</script>

</body>

</html>
