<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div id="cover" class="carousel slide cover" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#cover" data-slide-to="0" class="active"></li>
      <li data-target="#cover" data-slide-to="1"></li>
      <li data-target="#cover" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" id="cover-inner">
      <div class="item active">
        <img src="css/cover-1.jpg" alt="1">
      </div>
      <div class="item">
        <img src="css/cover-2.jpg" alt="2">
      </div>
      <div class="item">
        <img src="css/cover-3.jpg" alt="3">
      </div>
    </div>
    <a class="left carousel-control" href="#cover" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#cover" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
    <div class="container">
      <div class="jumbotron site-name">
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
        <p><a class="post-btn btn btn-primary btn-lg hidden-xs" href="#post">文章</a></p>
        <p><a class="post-btn btn btn-primary visible-xs-inline-block" href="#post">文章</a></p>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-default hidden-xs post-category">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav" id="category-list">
          {% for category in site.categories %}
          <li data-name="{{ category | first }}"><a href="javascript:void(0);">{{ category | first }}</a></li>
          {% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% for page in site.pages %}
            {% if page.title %}
              <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="dropdown category-dropdown visiable-xm-inline">
    <button type="button" class="navbar-toggle collapsed category-btn" data-toggle="dropdown">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <ul class="dropdown-menu" id="category-menu">
      {% for category in site.categories %}
      <li class="category" data-name="{{ category | first }}"><a href="javascript:void(0);">{{ category | first }}</a></li>
      {% endfor %}
      <li class="divider"></li>
      {% for page in site.pages %}
      {% if page.title %}
      <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="container post-title" id="post">
    <div class="row" id="content"></div>
  </div>
  <div class="container" id="analytics">
    {% include analytics.html %}
  </div>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
  var dataStr = '{ {% for cat in site.categories %}{% if cat[0] != site.categories.first[0] %},{% endif %}"{{ cat[0] }}":[{% for post in cat[1] %}{% if post != cat[1].first %},{% endif %}{"url":"{{post.url}}", "title":"{{post.title}}", "date":"{{post.date | date:"%b %-d, %Y"}}"}{% endfor %}]{% endfor %} }',
      data = $.parseJSON(dataStr);
  console.log(data);
  $(function () {
    var content = $('#content');
    $('#cover-inner').css('maxHeight', window.innerHeight);
    function changeCategory () {
      var e = $(this);
      var name = e.data('name');
      var html = '';
      e.addClass('active').siblings('.active').removeClass('active');
      for (var i = 0;i < data[name].length;i++) {
        html += '<a class="col-12" href="' + data[name][i].url +'"><h2 class="title">'+ data[name][i].title +'</h2><p class="date">'+ data[name][i].date +'</p></a>';
      }
      content.html(html);
    }
    $('#category-list').on('click','li',changeCategory);
    $('#category-menu').on('click','.category',changeCategory);
    $('#category-list').children().eq(0).click();
    $('#category-menu').children().eq(0).click();
  });

</script>
</body>
</html>
